/* esercizion n1 */
.ex-1-square{
    transition: all 2s;
}
.ex-1-square:hover{
    background-color: red;
}

/* esercizion n2 */
.ex-2-square{
    transition: all 2s;
}

.ex-2-square:active{
    width: 100%;
}

/* esercizio n3 */
.ex-3-square{
    transition: all 0.5s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio n4 */
.ex-4-square{
   transition: all 2s;
}
.ex-4-square:hover{
   opacity: 0;
}

/* esercizio n5 */
.ex-5-square{
    transition: all 1s;
}
.ex-5-square:hover{
   transform: scale(2);
}
.ex-5-square:active{
   transform: scale(0.5);
}

/* esercizio n6 */
.ex-6-img:hover{
    filter: grayscale(100%);
}

/* esercizio n7 */
.ex-7-img{
    transition: all 2s;
}
.ex-7-img:hover{
    filter: sepia(70%) contrast(70%);
}

/* esercizio n8 */
.ex-8-img{
    transition: all 2s;
}
.ex-8-img:hover{
    filter: grayscale(70%) saturate(100%);
    border-radius: 5%;
}

/* esercizio n9 */
.ex-9-img{
transition: all 2s;
}
.ex-9-img:hover{
    filter: sepia(70%) contrast(70%);
    border-radius: 5%;
    transform: scale(1.5);
}

/* eserccizio n10 */
.ex-10-icon{
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes example { 
    from{ 
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* esercizio n11 */
.ex-11-icon:hover{
    animation: example2;
    animation-duration: 2s;
}
@keyframes example2 {
    0%{
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
    75%{
        transform: rotate(330deg);
        animation-timing-function: linear;
    }
    100%{
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
}

